@use '../utilities/variables' as v;
@use  '../utilities/functions' as f;
@use '../utilities/mixins' as m;

.site{
    width: 100vw;
    height: 100vh;
    background: url(/images/pattern-hills.svg) no-repeat bottom, url(/images/bg-stars.svg), linear-gradient(to bottom, v.$background-top-site, v.$background-bottom-site);
}

.main-container{
    width: 100%;
    height: calc(100% - #{f.toRem(197)});
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.title-site{
    color: v.$title-color;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: .5rem;
    max-width: 80%;
    text-align: center;

    @include m.mq('large'){
        font-size: f.toRem(25);
    }

    @include m.mq('medium'){
        font-size: f.toRem(35);
    }
}

.countdown{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    &__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}

.card-title{
    color: v.$title-card-color;
    text-transform: uppercase;
    font-size: f.toRem(14);
    font-weight: 700;
    letter-spacing: .3rem;
}

.footer{
    height: f.toRem(197);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.social-icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-bottom: 3.5rem;
}

.social-icon{    
    cursor: pointer;
    transition: all .5s ease-in;

    &:hover path{
        fill: v.$numbers-color;
    }
    
}

