@use '../utilities/variables' as v;
@use  '../utilities/functions' as f;

.card{
    perspective: f.toRem(50);

    width: f.toRem(130);
    height: f.toRem(120);
    position: relative;
    color: v.$numbers-color;
    font-size: 4.2rem;
    font-weight: 700;
    border-radius: .5rem;

    box-shadow: 0 .5rem v.$background-top-site;

    &.animated{
        & .part-card--dynamic::before{
            animation: flip-back .7s ease forwards;
        }

        & .part-card--dynamic::after{
            transform: rotateX(0deg);
            transform-origin: bottom;
            backface-visibility: hidden;
            animation: flip-front .7s ease forwards;
        }
    }
}

.part-card{
    position: absolute;
    width: 100%;
    height: 50%;
    line-height: 0;
    perspective: 500px;
    

    &--static::before,
    &--dynamic::after{
        background: radial-gradient(0.8rem circle at 0 100%, #141419 50%, transparent 50%), radial-gradient(0.8rem circle at 100% 100%, #141419 50%, transparent 50.2%);
        border-bottom: 1px solid v.$background-top-site;
        border-radius: .5rem .5rem 0 0;
    }

    &--static::after,
    &--dynamic::before{
        background: radial-gradient(0.8rem circle at 0 0, #141419 50%, transparent 50%), radial-gradient(0.8rem circle at 100% 0, #141419 50%, transparent 50%);
        border-radius: 0 0 .5rem .5rem;
    }

    //Card Static Top
    &--static::before{
        content: attr(data-after);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-color: v.$background-top-card;
        overflow: hidden ;

    }


    //Card Static bottom
    &--static::after{
        content: attr(data-before);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-color: v.$background-bottom-card;
        overflow: hidden ;

    }
    //Card Dynamic Back
    &--dynamic::before{
        position: absolute;
        background-color: v.$background-bottom-card;
        width: 100%;
        height: 100%;
        bottom: -100%;
        content: attr(data-after);
        display: flex;
        align-items: flex-start;
        justify-content: center;
        overflow: hidden;

        transform: rotateX(180deg);
        transform-origin: top;
    }
    //Card Dynamic Front
    &--dynamic::after{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        content: attr(data-before);
        background-color: v.$background-top-card;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        overflow: hidden;
    }
}

@keyframes flip-front {
    to {
        transform: rotateX(-180deg);
    }
}

@keyframes flip-back {
    to {
        transform: rotateX(0);
        ;
    }
}